<% if !@current_user %>
<h1>Welcome!</h1>
  <div class="login">
    <%= link_to '/auth/github/', class: 'btn btn-success' do %>
      <span class='fa fa-github'></span> Sign in with github
      <% end %>
  </div>
<% end %>

<% if @current_user %>
  <h2>Hi, <%= @current_user.username %>, ready to play?</h2>

  <%= link_to "New Game", play_game_path(@current_user.id), class:"btn btn-default" %>
<% end %>
